import os
DEBUG = True #App mode
PROPAGATE_EXCEPTIONS = True
SECRET_KEY = os.environ.get('SECRET_KEY','\xfb\x13\x81\xa1@i\xd6>V\xc0\x16\x8fp\x16#Z\x0b\x81\xeb\xbf')
# Azure AD authorization endpoint
AUTHORITY='https://login.microsoftonline.com' 
# Office365 SharePoint site url which apis to be exposed
RESOURCE='https://onebitpython.sharepoint.com' 
# App client id regirtered form Azure
CLIENT_ID='2ac333a0-7612-4405-a362-1fe37ba7d8e4' 
# App client secret regirtered form Azure
CLIENT_SECRET='D2ZTdXmuLs+XvUpJYcO8Ehh5ou/QcxI4FqQ5hGomBWA='